

<div class="container">
  <h2>Players:</h2>
    <br>
    <% @player.each do |player| %>
      <div class="name">
        <h3><%= player.first_name  %> <%= player.last_name %></h3>
        <h6><%= player.position %></h6>
      </div>
    <% end %>
</div>