

<div class="container">
  <h2>Players:</h2>
    <br>
    <% @player.each do |player| %>
      <div class="name">
        <h3><%= player.first_name  %> <%= player.last_name %></h3>
        <h6><%= player.position %></h6><%= link_to 'Player Info', player_path(player), class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
</div>